<div>
  <form #heroeForm="ngForm">
    <p>Hero Name: {{heroe.name}}</p>
    <md-form-field>
    <input mdInput type="text" name="name" [(ngModel)]="heroe.name" placeholder="Name">
    </md-form-field>
    <md-form-field>
    <input mdInput type="text" name="description" [(ngModel)]="heroe.description" placeholder=" ">
    </md-form-field>
    <md-form-field>
    <input  mdInput type="checkbox" name="checkbox" [(ngModel)]="heroe.active">
    </md-form-field>
    <button (click)="createHeroe()">Create Hero</button>
  </form>
</div>
